*{
	margin: 0;
	padding: 0;
}

.section {
	width: 100vw;
	height: 100vh;
}

.wrapper {
	display: flex;
	flex-direction: row;
	width: 400vw;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;

}

.outerWrapper {
	width: 100vh;
	height: 100vw;
	transform: rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	overflow-y: scroll;
	overflow-x: hidden;
	position: absolute;
	scrollbar-width: none;
	-ms-over
}


#landing {
	background: darkred;
}

#two {
	background: darkgoldenrod;
}

#three {
	background: darkgreen;
}

#four {
	background: darkblue;
}


.navbar {
    width: 200px;
    background-color: #333;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    text-align: center;
    padding: 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.navbar ul li a:hover {
    background-color: #575757;
}



/*text styles*/

p {

	font-family: "DM Sans";

}